@import ('https://fonts.googleapis.com/css?family=Baskervville&display=swap');

header .logo{
    font-family: 'Baskervville', serif;
    font-size: 3rem;
    font-align: center;
    margin: 1rem 0;

}


header nav .menu {
            display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;

}
header nav .menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header nav .menu a: hover {
    border: 1px solid var(--main-color) 

}
 




